/*
 * Globals
 */

/*
 * Base structure
 */
html,
body {
    height: 100%;
}

body {
    color: #444;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.header,
.row,
.footer {
    padding-right: 0;
    padding-left: 0;
}

.header {
    margin-bottom: 30px;
}

.row {
    padding-bottom: 20px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container {
    max-width: 730px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.card {
    margin-top: 20px;
    border: 1px solid #bbb;
    background: #feb;
    text-align: center;
}

p, h1, h2, h3, a {
}

.brief {
    color: #999;
    font-style: italic;
}

.accent {
    color: #c00;
}

.translation {
    font-size: 150%;
}

.label {
    font-size: 14px;
    font-weight: normal;
}

#selectMainLanguage2 {
    min-width: 126px;
    width: 126px;
}

.suggestEmphasis {
    color: #428bca;
}

.undefined_resource {
    color: #ff0000;
}

#formSearchWordFrom {
    margin-top: 20px;
}

.structure {
    display: block;
}

.structure:first-letter {
    text-transform: uppercase;
}

img.flag {
    height: 24px;
    margin-right: 5px;
}

.centered {
    float: none;
    margin: 0 auto;
}